@import "g.css";

#newThread {
  max-width: 50em;
  margin: auto;
}

.main {
  max-width: 55em;
  margin: auto;
  background-color: rgb(220,220,220);
  border: 0.5em solid black;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.id span {
  float: right;
}

.t-r_d {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .t-r_d {
    display: block;
  }
}

.main h2 {
  margin: 1em;
}

.replies {
  background-color: rgb(200,200,220);
  border: 0.2em solid black;
  border-radius: 0.4em;
}

.reply {
  padding: 0.5em;
  margin: 1em;
  border: 0.1em solid black;
  border-radius: 1em;
  background-color: rgb(230,230,230);
}

.reply h3 {
  margin: 0.5em;
}

.replies a {
  display: block;
  text-align: center;
  margin: 1em;
  padding: .5em;
  text-decoration: none;
  transition-duration: 0.2s;
  color: blue;
  border: 0.2em solid transparent;
  font-weight: bold;
}

.replies a:hover {
  color: red;
  background-color: rgb(200,220,200);
  border-color: black;
  border-radius: 1em;
}